*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.log
*.pdf
*.xml
*.synctex.gz
*.fdb_latexmk
*.fls
paper1-epub/
paper1-epub3/
*.4ct
*.4tc
*.epub
*.html
*.idv
*.lg
*.ncx
*.tmp
*.xref
*.css
*.opf
*.xhtml
*.nav
*.out
*.snm
*.toc
*.t
*.vrb
